<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Hello Vue.js</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div id="app">
          <input type="checkbox" id="red" value="Red" v-model="colors">
          <label for="red">Red</label>
          <input type="checkbox" id="green" value="Green" v-model="colors">
          <label for="red">Green</label>
          <input type="checkbox" id="blue" value="Blue" v-model="colors">
          <label for="red">Blue</label>
          <p>{{ colors }}</p>
      </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
        <script src="js/main.js"></script>
    </body>
</html>